@use "variables";

.about {
  margin-bottom: 8em;

  hr {
    width: 10%;
  }

  &__container {
    display: flex;
    background-color: reds;

    &__content {
      width: 100%;
      display: flex;

      div {
        margin: auto 0;
      }
    }

    .text {
      max-width: 450px;
      width: 100%;
    }
  }

}
