@use "variables";

.about {
  margin-bottom: 8em;

  hr {
    width: 10%;
  }

  &__container {
    display: flex;

    .image {
      border-radius: 20px;
    }

    &__content {
      width: 100%;
      display: flex;

      div {
        margin: auto 0;
      }
    }

    .text {
      max-width: 400px;
      width: 100%;
      text-align: justify;
      margin-bottom: 0.5em;
    }
  }
}
