@use "variables";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.nav {
  &__list {
    display: flex;

    &__item {
      list-style: none;

      &:nth-child(2) {
        margin: 0 55px;
      }

      a {
        text-decoration: none;
        color: variables.$white;
        font-weight: 400;
        font-size: 1rem;
      }
    }
  }
}

.content {
  display: flex;
  color: variables.$white2;
  max-height: 921px;
  align-items: center;

  span,
  h2 {
    color: variables.$white2;
    white-space: nowrap;
  }

  span {
    font-family: variables.$fontRegular;
    font-size: 1.3em;
  }

  &__title {
    font-family: variables.$fontMedium;
    font-size: 2.3rem;
  }

  &__text {
    width: 40%;

    p {
      margin-bottom: 35px;
      font-size: 1.2rem;
    }
  }

  &__image {
    max-height: 700px;
    transform: scale(1.2);
    margin-left: 70px;
  }

  @media (min-width: 1024px) {
    .button {
      width: 65%;
    }
  }
}
