@use "variables";

.skills {
  margin-bottom: 8em;
  text-align: center;

  .mg-bottom {
    margin-bottom: 2em;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  hr {
    width: 5%;
    margin: 0 auto;
  }

  .text {
    margin: 0.95em 0 2em 0;
  }

  &__tec {
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    gap: 10px;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 100%;
    gap: 10px;
    margin: 0 auto;

    @media (max-width: variables.$tablet) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    &__item {
      background-color: variables.$darkblue;
      max-width: 100px;
      border-radius: 8px;
      transition: all 1s linear;

      &:hover {
        background-color: variables.$white2;
      }

      &:hover svg,
      &:hover span {
        fill: variables.$darkblue;
        color: variables.$darkblue;
      }

      div {
        display: flex;
        width: 100px;
        margin: 0 auto;
        padding: 16px;

        svg {
          fill: variables.$white2;
        }
      }

      span {
        font-size: 0.85rem;
        color: variables.$white2;
      }
    }
  }
}
