$fontStyle: "Poppins", sans-serif;
$fontRegular: "RocGrotesk";
$fontMedium: "RocGrotesk-medium";
$fontBold: "RocGrotesk-bold";

// BreakPoint

$tablet: 768px;
$mobile: 468px;
$desktop: 1024px;

@font-face {
  font-family: "RocGrotesk";
  src: url("../../src/assets/fonts/fonnts.com-Roc_Grotesk_Regular.otf")
    format("truetype");
}

@font-face {
  font-family: "RocGrotesk-medium";
  src: url("../../src/assets/fonts/fonnts.com-Roc_Grotesk_Medium.otf")
    format("truetype");
}

@font-face {
  font-family: "RocGrotesk-bold";
  src: url("../../src/assets/fonts/fonnts.com-Roc_Grotesk_Black.otf")
    format("truetype");
}

$blue: #0052ce;
$darkblue: #132033;
$white: #ffffff;
$white2: #e4e6e6;
