@use "variables";
@use "hero";
@use "project";
@use "about";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: variables.$fontStyle;
}

body {
  background: #030609;
  background: linear-gradient(
    300deg,
    rgba(3, 6, 9, 1) 0%,
    rgba(10, 19, 34, 1) 100%
  );
}

.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

.title {
  font-size: 2.2rem;
  color: variables.$white2;
}

.text {
  color: variables.$white;
  font-family: variables.$fontRegular;
  font-size: 0.9rem;
}

hr {
  background-color: variables.$blue;
  height: 3px;
  border: none;
  border-radius: 8px;
}

.button {
  background-color: variables.$blue;
  color: variables.$white;
  border: none;
  padding: 12px;
  border-radius: 12px;
  font-size: 12px;
  white-space: nowrap;
}
